body{
    background-color: rgb(10, 238, 188);
    border-color: black;
   background-image: linear-gradient(rgb(5, 5, 5), rgb(255, 255, 255));
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    

   
}
h1{
    text-align: center;
    color: blue;
    border: 2px cornflowerblue double;
    background-color: aqua;
}
p{
    /* border-top: ;
    border-bottom: ;
    border-left ; */

    border-style: solid;
    border-color: blueviolet;
    border: width 5px; 
    background-color: blueviolet;
}
figure{
    text-align: center;
}